<div>
    <form method="post">
        <table>
            <tr>
                <td>product name </td>

                <td> <input type="text" name="productName"></td>
            </tr>
            <tr>
                <td> product price </td>

                <td><input type="text" name="productPrice"> </td>
            </tr>
            <tr>
                <td> catagory Id </td>

                <td><input type="text" name="catagoryId"> </td>
            </tr>
        </table>
        <input type="submit" value="create">
    </form>

</div>