@{ //INITIALIZE web page title to Shopping Cart
    ViewBag.Title = "Shopping Cart";
    string day = DateTime.Now.DayOfWeek.ToString();
}
@section css {
    <link href="~/Content/Home.css" rel="stylesheet" />
    
}

<h1>@ViewBag.HeaderText</h1>

    <h4> Thank you for visiting us this beautiful @ViewBag.Currentdate </h4>


@section footer {
    
    <p>@ViewData["FooterText"]</p>
}