@*<h2>Name: Borno, MD. Sirajuddin</h2>
<h2>ID: 18-36449-1<h2>
<h2>Hobby: Playing Video Games <h2>*@

<h2>:Session: Hello @Session["name"]</h2>
<h2>:ViewData: Hello @ViewData["name"]</h2>
<h2>:ViewBag: Hello @ViewBag.name</h2>

