@*@model WebApplication1.Models.Student*@
@model IEnumerable<WebApplication1.Models.Student>
<table>
    <tr>
        <th> Name </th>
        <th>ID</th>
        <th>Hobby</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td> @item.Name</td>
            <td> @item.Id</td>
            <td> @item.Hobby</td>
        </tr>
    }

</table>